<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="Landing Page Tests">
            <directory>tests/LandingPage</directory>
        </testsuite>
        <testsuite name="AIChat Tests">
            <directory>tests/AIChat</directory>
        </testsuite>
        <testsuite name="AdminMenu Tests">
            <directory>tests/AdminMenu</directory>
        </testsuite>
        <testsuite name="FileConsolidation Tests">
            <directory>tests/FileConsolidation</directory>
        </testsuite>
        <testsuite name="GoodsReceiveDisposal Tests">
            <directory>tests/GoodsReceiveDisposal</directory>
        </testsuite>
        <testsuite name="InboxChat Tests">
            <directory>tests/InboxChat</directory>
        </testsuite>
        <testsuite name="VibeSelling Tests">
            <directory>tests/VibeSelling</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">./</directory>
        </include>
        <exclude>
            <directory>./vendor</directory>
            <directory>./tests</directory>
            <directory>./_archive</directory>
        </exclude>
    </coverage>
</phpunit>
